* {
  margin: 0;
  padding: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;  /*Chrome,
    Safari and Opera*/
}
.no-scrollbar{
  -ms-overflow-style: none;
    /*Edge */
    scrollbar-width: none;
    /* Firefox */
}


.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  background-color: transparent !important;
}
.css-919eu4 {
  background-color: transparent !important;
}

.logo img {
  border-radius: 50%;
  cursor: pointer;
}
.logo-icon {
  border-radius: 50%;
  cursor: pointer;
}

.example::-webkit-scrollbar {
  display: none;
}

.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
  }

  .form-section {
    display: inline !important;
  }

  .form-pagebreak {
    display: none !important;
  }

  .form-section-closed {
    height: auto !important;
  }

  .page-section {
    position: initial !important;
  }
}

/* Signin */

.authentication-content {
  height: 100vh !important;
}
